<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert Page</title>
</head>
<body>
    <h1>TODO INSERT</h1>
    <hr/>
    <form method="post">
        <fieldset>
            <legend>INSERT DATA</legend>
            <table>
                <tr>
                    <td><label>TODO</label></td>
                    <td><input type="text" name="contents" /></td>
                </tr>
                <tr>
                    <td><label>O or X</label></td>
                    <td><input type="text" name="yesno" /></td>
                </tr>
            </table>
            <input type="submit"/>
        </fieldset>
    </form>
</body>
</html>